.ml-0     { margin-left: 0; }
.ml-1     { margin-left: 0.25rem; }
.ml-2     { margin-left: 0.5rem; }
.ml-3     { margin-left: 0.75rem; }
.ml-4     { margin-left: 1rem; }
.ml-5     { margin-left: 1.25rem; }
.ml-6     { margin-left: 1.5rem; }
.ml-8     { margin-left: 2rem; }
.ml-10    { margin-left: 2.5rem; }
.ml-12    { margin-left: 3rem; }
.ml-16    { margin-left: 4rem; }
.ml-20    { margin-left: 5rem; }
.ml-24    { margin-left: 6rem; }
.ml-32    { margin-left: 8rem; }
.ml-40    { margin-left: 10rem; }
.ml-48    { margin-left: 12rem; }
.ml-56    { margin-left: 14rem; }
.ml-64    { margin-left: 16rem; }

.ml-auto  { margin-left: auto; }

.ml-px    { margin-left: 1px; }
.-ml-px   { margin-left: -1px; }

.-ml-1    { margin-left: -0.25rem; }
.-ml-2    { margin-left: -0.5rem; }
.-ml-3    { margin-left: -0.75rem; }
.-ml-4    { margin-left: -1rem; }
.-ml-5    { margin-left: -1.25rem; }
.-ml-6    { margin-left: -1.5rem; }
.-ml-8    { margin-left: -2rem; }
.-ml-10   { margin-left: -2.5rem; }
.-ml-12   { margin-left: -3rem; }
.-ml-16   { margin-left: -4rem; }
.-ml-20   { margin-left: -5rem; }
.-ml-24   { margin-left: -6rem; }
.-ml-32   { margin-left: -8rem; }
.-ml-40   { margin-left: -10rem; }
.-ml-48   { margin-left: -12rem; }
.-ml-56   { margin-left: -14rem; }
.-ml-64   { margin-left: -16rem; }
