.my-0     { margin-top: 0; 		    margin-bottom: 0; }
.my-1     { margin-top: 0.25rem; 	margin-bottom: 0.25rem; }
.my-2     { margin-top: 0.5rem; 	margin-bottom: 0.5rem; }
.my-3     { margin-top: 0.75rem; 	margin-bottom: 0.75rem; }
.my-4     { margin-top: 1rem; 		margin-bottom: 1rem; }
.my-5     { margin-top: 1.25rem; 	margin-bottom: 1.25rem; }
.my-6     { margin-top: 1.5rem; 	margin-bottom: 1.5rem; }
.my-8     { margin-top: 2rem; 		margin-bottom: 2rem; }
.my-10    { margin-top: 2.5rem; 	margin-bottom: 2.5rem; }
.my-12    { margin-top: 3rem; 		margin-bottom: 3rem; }
.my-16    { margin-top: 4rem; 		margin-bottom: 4rem; }
.my-20    { margin-top: 5rem; 		margin-bottom: 5rem; }
.my-24    { margin-top: 6rem; 		margin-bottom: 6rem; }
.my-32    { margin-top: 8rem; 		margin-bottom: 8rem; }
.my-40    { margin-top: 10rem; 	    margin-bottom: 10rem; }
.my-48    { margin-top: 12rem; 	    margin-bottom: 12rem; }
.my-56    { margin-top: 14rem; 	    margin-bottom: 14rem; }
.my-64    { margin-top: 16rem; 	    margin-bottom: 16rem; }

.my-auto  { margin-top: auto; 		margin-bottom: auto; }

.my-px    { margin-top: 1px; 		margin-bottom: 1px; }
.-my-px   { margin-top: -1px; 		margin-bottom: -1px; }

.-my-1    { margin-top: -0.25rem; 	margin-bottom: -0.25rem; }
.-my-2    { margin-top: -0.5rem; 	margin-bottom: -0.5rem; }
.-my-3    { margin-top: -0.75rem; 	margin-bottom: -0.75rem; }
.-my-4    { margin-top: -1rem; 	    margin-bottom: -1rem; }
.-my-5    { margin-top: -1.25rem; 	margin-bottom: -1.25rem; }
.-my-6    { margin-top: -1.5rem; 	margin-bottom: -1.5rem; }
.-my-8    { margin-top: -2rem; 	    margin-bottom: -2rem; }
.-my-10   { margin-top: -2.5rem; 	margin-bottom: -2.5rem; }
.-my-12   { margin-top: -3rem; 	    margin-bottom: -3rem; }
.-my-16   { margin-top: -4rem; 	    margin-bottom: -4rem; }
.-my-20   { margin-top: -5rem; 	    margin-bottom: -5rem; }
.-my-24   { margin-top: -6rem; 	    margin-bottom: -6rem; }
.-my-32   { margin-top: -8rem; 	    margin-bottom: -8rem; }
.-my-40   { margin-top: -10rem; 	margin-bottom: -10rem; }
.-my-48   { margin-top: -12rem; 	margin-bottom: -12rem; }
.-my-56   { margin-top: -14rem; 	margin-bottom: -14rem; }
.-my-64   { margin-top: -16rem; 	margin-bottom: -16rem; }
