.py-0   { padding-top: 0; 			padding-bottom: 0; }
.py-1   { padding-top: 0.25rem; 	padding-bottom: 0.25rem; }
.py-2   { padding-top: 0.5rem; 	    padding-bottom: 0.5rem; }
.py-3   { padding-top: 0.75rem; 	padding-bottom: 0.75rem; }
.py-4   { padding-top: 1rem; 		padding-bottom: 1rem; }
.py-5   { padding-top: 1.25rem; 	padding-bottom: 1.25rem; }
.py-6   { padding-top: 1.5rem; 	    padding-bottom: 1.5rem; }
.py-8   { padding-top: 2rem; 		padding-bottom: 2rem; }
.py-10  { padding-top: 2.5rem; 	    padding-bottom: 2.5rem; }
.py-12  { padding-top: 3rem; 		padding-bottom: 3rem; }
.py-16  { padding-top: 4rem; 		padding-bottom: 4rem; }
.py-20  { padding-top: 5rem; 		padding-bottom: 5rem; }
.py-24  { padding-top: 6rem; 		padding-bottom: 6rem; }
.py-32  { padding-top: 8rem; 		padding-bottom: 8rem; }
.py-40  { padding-top: 10rem; 		padding-bottom: 10rem; }
.py-48  { padding-top: 12rem; 		padding-bottom: 12rem; }
.py-56  { padding-top: 14rem; 		padding-bottom: 14rem; }
.py-64  { padding-top: 16rem; 		padding-bottom: 16rem; }

.py-px  { padding-top: 1px; 		padding-bottom: 1px; }
