.pr-0   { padding-right: 0; }
.pr-1   { padding-right: 0.25rem; }
.pr-2   { padding-right: 0.5rem; }
.pr-3   { padding-right: 0.75rem; }
.pr-4   { padding-right: 1rem; }
.pr-5   { padding-right: 1.25rem; }
.pr-6   { padding-right: 1.5rem; }
.pr-8   { padding-right: 2rem; }
.pr-10  { padding-right: 2.5rem; }
.pr-12  { padding-right: 3rem; }
.pr-16  { padding-right: 4rem; }
.pr-20  { padding-right: 5rem; }
.pr-24  { padding-right: 6rem; }
.pr-32  { padding-right: 8rem; }
.pr-40  { padding-right: 10rem; }
.pr-48  { padding-right: 12rem; }
.pr-56  { padding-right: 14rem; }
.pr-64  { padding-right: 16rem; }

.pr-px  { padding-right: 1px; }
